<h1>Task 1</h1>
<h2>«Patience is a key element of success»</h2>
<h1>Task 2</h1>
<img src="../assets/mazda.jpg">
<img src="../assets/mazdaCreator.jpg">
<img src="../assets/mazdaCar.jpg">
<ul>
  <li><a href="https://en.wikipedia.org/wiki/Bill_Gates">https://en.wikipedia.org/wiki/Bill_Gates</a></li>
  <li><a href="https://www.gatesfoundation.org/;">https://www.gatesfoundation.org/</a></li>
  <li><a href="https://www.gatesnotes.com/">https://www.gatesnotes.com/</a></li>
  <li><a href="https://twitter.com/billgates">https://twitter.com/billgates</a></li>
</ul>
